<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  
  {% include "base_js.html" %}

  <title>IOffer</title>
</head>

<body>
  
  <section>
    <header>
      <a href="/ioffer/welcome" class="main-title">
        IOffer
      </a>

      <div class="login-area">
        {% if user %}
          {{user.name}} (<a class="login-link" href="/ioffer/logout">logout</a>)
        {% else %}
          <a class="login-link" href="/ioffer/login">login</a>
          |
          <a class="login-link" href="/ioffer/signup">signup</a>
        {% endif %}
      </div>
    </header>
<main>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</main>    
  </section>
  <footer>
      <div class="footer-area">
          <p class="">Developed by <a class="login-link" href="mailto:javier.paradela.vila@gmail.com">javier</a>
      </div>
  </footer>

</body>

</html>

