<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>

  var datefield=document.createElement("input")
  datefield.setAttribute("type", "date")

  $(function(){
    $('ul.tabs li:first').addClass('active');
    $('.block article').hide();
    $('.block article:first').show();
    $('ul.tabs li').on('click',function(){
      $('ul.tabs li').removeClass('active');
      $(this).addClass('active')
      $('.block article').hide();
      var activeTab = $(this).find('a').attr('href');
      $(activeTab).show();
      return false;
    });
  })

  function getURLParameter(name) {
    return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
  }

  function changeUrlParam (param, value) {

    var currentURL = window.location.href+'&';
    var change = new RegExp('('+param+')=(.*)&', 'g');
    var newURL = currentURL.replace(change, '$1='+value+'&');

    if (getURLParameter(param) !== null){
      if (value == ''){
        newURL = currentURL.replace(change, '');
      }
      try {
        window.history.replaceState('', '', newURL.slice(0, - 1) );
      } catch (e) {
        console.log(e);
      }
    } else {
      var currURL = window.location.href;

      if (currURL.indexOf("?") !== -1){
        window.history.replaceState('', '', currentURL.slice(0, - 1) + '&' + param + '=' + value);
      } else {
        window.history.replaceState('', '', currentURL.slice(0, - 1) + '?' + param + '=' + value);
      }
    }
  }

  </script>

  <title>IOffer</title>
</head>

<body>
  
  <section>
    <header>
      <a href="/" class="main-title">
        IOffer
      </a>

      <div class="login-area">
        {% if user %}
          {{user.name}} (<a class="login-link" href="/ioffer/logout">logout</a>)
        {% else %}
          <a class="login-link" href="/ioffer/login">login</a>
          |
          <a class="login-link" href="/ioffer/signup">signup</a>
        {% endif %}
      </div>
    </header>
<main>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</main>    
  </section>
  <footer>
      <div class="footer-area">
          <p class="">Developed by <a class="login-link" href="mailto:javier.paradela.vila@gmail.com">javier</a>
      </div>
  </footer>

</body>

</html>

