<section class="site-branding-area">
    <section class="container">
        <section class="row">
            <section class="col-sm-6">
                <section class="logo">
                    <h1><a href="./" class="main-title">i<span>Offer</span></a></h1> <p id="democcc" style="display:none;">hola</p>
                </section>
            </section>
            
            <section class="col-sm-6">
                <!-- <section class="shopping-item">
                    <a href="cart.html">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                </section> -->
                <section class="shopping-item">
                <div id="loc_main"><img id="img_loc" alt="loc" src="/static/img/location_marker_pin-512.png"/> Search by location</div></section>
            </section>
        </section>
    </section>
</section> <!-- End site branding area -->