<script>

$(function(){
      $( document ).ready(function() {
        {% if offer_added %} /*Viene de agregar offer asi que muestra la tercera pestania*/
          $('li.li-top a:last').addClass('active');
          $('.block article').hide();
          $('.block article:last').show();
          $('ul.tabs li').removeClass('active');
          $('ul.tabs li:last').addClass('active')
            $('.block article').hide();
            var activeTab = $('ul.tabs li:last').find('a').attr('href');
            $(activeTab).show();
            var dataString = 'username='+ '{{ user.name }}';  
            /*alert(dataString)*/
               $.ajax({
                type: "POST",
                  url: "/ioffer/offers_user_display",
                  data: dataString, 
                  success: function(data) {
                      $('#divtab3').html(data);
                  },
                  error: function() {
                      $('#divtab3').html('There was an error');
                  }
               });
        {% endif %}
            });
      })
</script>

{% for offer in offers_user %}

<script>
$(function(){
            $('#link_offer{{ offer.offer_tittle }}').click(function(event) {
                
               var dataString = 'user='+ $('#username').val();  
               var data = "/ioffer/offer/" + {{ offer.key().id() }};
               alert(data);
               $.ajax({
                type: "GET",
                url: "/ioffer/offer/" + {{ offer.key().id() }},
                data: dataString, 
                success: function(data) {
                    $('#divtab3').html(data);
                },
                error: function() {
                    $('#divtab3').html('There was an error');
                }
               });
            });
        })

</script>

    <article id="article-offer" class="article_offer">
    <table>
    <tr>
          <td class="label">
            Title:
          </td>
          <td class="label">
            <a id="link_offer{{ offer.offer_tittle }}" class="login-link">{{ offer.offer_tittle }}</a>
          </td>
        </tr>

        <tr>
          <td class="label">
            Category:
          </td>
          <td class="label">
            {{ categories[offer.offer_category] }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Profile Name:
          </td>
          <td class="label">
            {{offer.profile.name}}
          </td>
        </tr>

        

        <tr>
          <td class="label">
            Starting Date:
          </td>
          <td class="label">
            {{offer.offer_start_date}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Ending Date :
          </td>
          <td class="label">
            {{offer.offer_end_date}}
          </td>
        </tr>

        
    </table>
  </article>
<hr>
{% endfor %}

