
    <table>
    <tr>
          <td class="label">
            Title:
          </td>
          <td class="label">
            {{offer.offer_tittle}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Category:
          </td>
          <td class="label">
            {{ categories[offer.offer_category] }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Profile Name:
          </td>
          <td class="label">
            {{offer.profile.name}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Date Created:
          </td>
          <td class="label">
            {{offer.offer_created.strftime('%Y-%m-%d %H:%M:%S')}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Date Last Modification:
          </td>
          <td class="label">
            {{offer.offer_last_modified.strftime('%Y-%m-%d %H:%M:%S')}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Offer Description:
          </td>
          <td class="label">
            {{offer.offer_desc}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Starting Date:
          </td>
          <td class="label">
            {{offer.offer_start_date}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Ending Date :
          </td>
          <td class="label">
            {{offer.offer_end_date}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Upload Image:
          </td>
          <td class="label">
           {{offer.image_offer}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Conditions:
          </td>
          <td class="label">
           {{offer.offer_conditions}}
          </td>
        </tr>
    </table>
<hr>

