<script>
$(function(){
            $('#btn_send').click(function(event) {
                
               var dataString = 'username='+ $('#username').val() + '&name=' + $('#name').val() + '&original_name=' + $('#original_name').val() + '&profile_type=' + $('input[name=profile_type]:checked', '#content_profile').val() + '&email=' + $('#email').val()
               + '&phone=' + $('#phone').val() + '&street_address=' + $('#street_address').val() + '&address_line_2=' + $('#address_line_2').val() 
               + '&city=' + $('#city').val() + '&region=' + $('#region').val() + '&zip_code=' + $('#zip_code').val() + '&country=' + $('#countries').val() + '&web=' + $('#web').val();  
               /*alert(dataString)*/
               $.ajax({
                type: "POST",
                url: "/ioffer/send_profile",
                data: dataString, 
                success: function(data) {
                    $('#content_profile').html(data);
                },
                error: function() {
                    $('#content_profile').html('There was an error');
                }
               });
            });
        })

$(function(){
            $('#btn_cancel').click(function(event) {
                
               var dataString = 'user='+ $('#username').val();  
               /*alert(dataString)*/
               $.ajax({
                type: "POST",
                url: "/ioffer/show_profile",
                data: dataString, 
                success: function(data) {
                    $('#content_profile').html(data);
                },
                error: function() {
                    $('#content_profile').html('There was an error');
                }
               });
            });
        })

</script>
<div id="content_profile">
<form id="profile_form">
    <table>
        <tr>
          <td class="label">
            Username:
          </td>
          <td class="label">
            {{ params['username'] }}
            <input type="hidden" id="username" name="username" value="{{ params['username'] }}">
            <input type="hidden" id="original_name" name="original_name" value="{{ params['name'] }}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Profile Type:
          </td>
          <td>
            {% include "profile_type.html" %}
          </td>
        </tr>

        

        <tr>
          <td class="label">
            Name:
          </td>
          <td>
            <input type="text" id="name" name="name" value="{{ params['name'] }}">
            <table>
            <tr>
                <td class="error">
                    {{ params['error_name'] }}
                </td>
            </tr>
        </table>
          </td>

        </tr>

        <tr>
          <td class="label">
            Email:
          </td>
          <td>
            <input type="text" id="email" name="email" value="{{ params['email'] }}">
            <table>
            <tr>
                <td class="error">
                    {{ params['error_email'] }}
                </td>
            </tr>
        </table>
          </td>
        </tr>

        <tr>
          <td class="label">
            Phone:
          </td>
          <td>
            <input type="text" id="phone" name="phone" value="{{ params['phone'] }}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Street Address:
          </td>
          <td>
            <input type="text" id="street_address" name="street_address" value="{{ params['street_address'] }}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Address Line 2:
          </td>
          <td>
            <input type="text" id="address_line_2" name="address_line_2" value="{{ params['address_line_2'] }}">
          </td>
        </tr>

        <tr>
          <td class="label">
            City:
          </td>
          <td>
            <input type="text" id="city" name="city" value="{{ params['city'] }}">
          </td>
        </tr>

        <tr>
          <td class="label">
            State / Province / County / Region:
          </td>
          <td>
            <input type="text" id="region" name="region" value="{{ params['region'] }}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Postal / Zip Code:
          </td>
          <td>
            <input type="text" id="zip_code" name="zip_code" value="{{ params['zip_code'] }}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Country:
          </td>
          <td>
                {% include "countries.html" %}
          </td>
        </tr>

        <tr>
          <td class="label">
            Web:
          </td>
          <td>
            <input type="text" id="web" name="web" value="{{ params['web'] }}">
          </td>
        </tr>

    </table>

  <div class="error">
    {{ error }}
  </div>
  <br>
    <div class="buttonHolder">
        <input type="button" id="btn_send" value="{{ btn_send }}">
        {% if btn_send != 'Save' %}
            <input type="button" id="btn_cancel" value="Cancel">
        {% endif %}
    </div>
</form>
</div>
