    <table>
        <tr>
          <td class="label">
            Username:
          </td>
          <td class="label">
            {{ user.name }}
            <input type="hidden" name="username" value="{{ user.name }}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Profile Type:
          </td>
          <td class="label">
            {{ profile_types[profile.profile_type] }}
          </td>
        </tr>

        

        <tr>
          <td class="label">
            Name:
          </td>
          <td class="label">
            {{ profile.name }}
          </td>

        </tr>

        <tr>
          <td class="label">
            Created:
          </td>
          <td class="label">
            {{ profile.profile_created.strftime('%Y-%m-%d %H:%M:%S') }}
          </td>

        </tr>

        <tr>
          <td class="label">
            Last Modified:
          </td>
          <td class="label">
            {{ profile.profile_last_modified.strftime('%Y-%m-%d %H:%M:%S') }}
          </td>

        </tr>

        <tr>
          <td class="label">
            Email:
          </td>
          <td class="label">
            {{ profile.email }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Phone:
          </td>
          <td class="label">
            {{ profile.phone }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Street Address:
          </td>
          <td class="label">
            {{ profile.street_address }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Address Line 2:
          </td>
          <td class="label">
            {{ profile.address_line_2 }}
          </td>
        </tr>

        <tr>
          <td class="label">
            City:
          </td>
          <td class="label">
            {{ profile.city }}
          </td>
        </tr>

        <tr>
          <td class="label">
            State / Province / County / Region:
          </td>
          <td class="label">
            {{ profile.region }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Postal / Zip Code:
          </td>
          <td class="label">
            {{ profile.zip_code }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Country:
          </td>
          <td class="label">
                {{ countries[profile.country] }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Web:
          </td>
          <td class="label">
            {{ profile.web }}
          </td>
        </tr>

    </table>
<script>

    $(function(){
          $('#modify-profile').click(function(event) {
             var dataString = 'username='+ '{{ user.name }}';  
             $.ajax({
              type: "POST",
                url: "/ioffer/modify_profile",
                data: dataString, 
                success: function(data) {
                    $('#divtab1').html(data);
                },
                error: function() {
                    $('#divtab1').html('There was an error');
                }
             });
          });
    })

  </script>

  <br>
 
  <!-- <p id="modify-profile">Modify Profile</p> -->
  <div class="buttonHolder">
    <input type="button" id="modify-profile" value="Modify Profile">
  </div>
